<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="activiser.OutlookAddIn.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="activiser.OutlookAddIn.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<switches>
			<add name="TraceLevel" value="Off"/>
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="activiserOutlookAddIn.Log">
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
	<userSettings>
		<activiser.OutlookAddIn.MySettings>
   <setting name="activiserUserName" serializeAs="String">
    <value />
   </setting>
   <setting name="IgnoreServerCertificateNameMismatch" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IgnoreServerCertificateErrors" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoDomainLogon" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="proxyServerUrl" serializeAs="String">
    <value />
   </setting>
   <setting name="proxyServerAuthenticate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LogonAtStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowTimeAsDefault" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="DefaultNewRequestStatus" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="DefaultTimeAsItem" serializeAs="String">
    <value>Busy</value>
   </setting>
   <setting name="CommandBarLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="NextActionDateOption" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IncludeTimeInNextActiondate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AppendAddressToLocation" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PrependAddressToLongDescription" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ForceWin2KLogon" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LanguageId" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="activiserServerUrl" serializeAs="String">
    <value>http://localhost:4200/activiser.asmx</value>
   </setting>
  </activiser.OutlookAddIn.MySettings>
	</userSettings>
	<applicationSettings>
		<activiser.OutlookAddIn.MySettings>
   <setting name="ReminderTimeList" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>0,0 minutes</string>
      <string>5,5 minutes</string>
      <string>10,10 minutes</string>
      <string>15,15 minutes</string>
      <string>30,30 minutes</string>
      <string>60,1 hour</string>
      <string>120,2 hours</string>
      <string>180,3 hours</string>
      <string>240,4 hours</string>
      <string>360,6 hours</string>
      <string>480,8 hours</string>
      <string>720,12 hours</string>
      <string>1080,18 hours</string>
      <string>1440,1 day</string>
      <string>2880,2 days</string>
      <string>4320,3 days</string>
      <string>5760,4 days</string>
      <string>10080,1 week</string>
      <string>20160,2 weeks</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ShowTimeAsList" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>Free</string>
      <string>Tentative</string>
      <string>Busy</string>
      <string>Out of Office</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="MaximumSubjectLength" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="MaximumLongDescriptionLength" serializeAs="String">
    <value>3500</value>
   </setting>
  </activiser.OutlookAddIn.MySettings>
	</applicationSettings>
</configuration>
