<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="activiser.WebService.Gateway.Crm.DataAccessLayer.Properties.Settings.activiserConnectionString"
            connectionString="Data Source=.;Initial Catalog=activiser;Integrated Security=True;Application Name=&quot;activiser Crm Gateway&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>