<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="27c20751-ca1f-4f45-be2f-b7c54ce7cf8f" Name="activiser.Setup.Outlook" Language="1033" Version="1.0.0.0" Manufacturer="activiser.Setup.Outlook" UpgradeCode="c1c4af60-dda3-4575-a2c8-34edc66630ef">
		<Package InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="activiser.Setup.Outlook.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="activiser.Setup.Outlook">
					<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
					<!-- <Component Id="ProductComponent" Guid="1d3c6ab6-8c72-4c5e-963a-a026d51e2e97"> -->
						<!-- TODO: Insert files, registry keys, and other resources here. -->
					<!-- </Component> -->
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="activiser.Setup.Outlook" Level="1">
			<!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
			<!-- <ComponentRef Id="ProductComponent" /> -->
		</Feature>
	</Product>
</Wix>
