<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="ServerURL" value="https://activiser.my.domain.name/activiser/activiser.asmx" />-->
		<!--<add key="ServerURL" value="http://172.27.172.133:4200/activiser.asmx" />-->
		<add key="ServerURL" value="https://activiser.kinetics.co.nz/4.0/activiser.asmx" />
		<add key="ServerTimeout" value="60" />
		<add key="IgnoreServerCertificateErrors" value="False"/>
		<add key="IgnoreServerCertificateNameMismatch" value="True"/>

		<add key="DatabaseRootFolder" value="." />
		<add key="DataFolder" value="Data" />
		<add key="PendingFolder" value="Pending" />
		<add key="ErrorFolder" value="Error" />
		<add key="SchemaFolder" value="Schemas" />
		<add key="MainDB" value="Main" />
		<add key="HistoryDB" value="JobHistory" />
		<add key="SettingsDB" value="Settings" />
		<add key="LocalItemsDB" value="LocalItems"/>
		<add key="ErrorLog" value="ErrorLog" />
		<add key="LanguageFile" value="Language"/>
		<add key="FormDefinitionsDB" value="FormDefinitions"/>
		<add key="LanguageId" value="1"/>

		<add key="TrackingDB" value="Tracking" />
		<add key="TrackingInfoFormat" value="n" />
		<add key="EnableTracking" value="true"/>
		<add key="TrackingInterval" value="5"/>
		<!-- minutes -->

		<add key="AllowJobsForClosedRequests" value="true"/>
		<add key="AllowJobsWithNoDetails" value="true"/>
		<add key="LockCustomJobFormsWhenApproved" value="true"/>
		<add key="LockCustomJobFormsWhenSynced" value="true"/>
		<add key="AllowNewRequests" value="true"/>
		<add key="AllowRequestsForClientsOnHold" value="true"/>
		<add key="FlushCustomLookupsOnDefinitionChange" value="false"/>
		<add key="UseLastModifiedTimeForNullActionDates" value="false"/>

		<add key="AutoSync" value="false" />
		<add key="AutoSyncInterval" value="30"/>
		<add key="AutoCloseSyncForm" value="false"/>

		<add key="DefaultJobDuration" value="15"/>
		<add key="DefaultJobStart" value="0"/>
		<add key="DefaultTravelTime" value="15"/>

		<add key="MainFormSortAscending" value="true"/>
		<add key="MainFormColumnWidths" value="80,0,80,100,60,20," />
		<add key="MainFormGridView" value="Coloured Text"/>
		<add key="MainFormShowCheckBoxes" value="false"/>
		<add key="MainFormShowToolbar" value="true"/>
		<add key="MainFormShowSyncInfo" value="True" />
		<add key="MainFormShowColumnHeaders" value="True" />
		<add key="MainFormLastSortColumn" value="1" />
		<add key="MainFormStatusFilter" value="-1" />
		<add key="MainFormShowMyRequestsOnly" value="False" />
		<add key="MainFormShowRequestedStatus" value="True" />

		<add key="ShowJobShortCutList" value="true"/>
		<add key="SyncDays" value="MTWHF"/>
		<add key="SyncFinishTime" value="18:00"/>
		<add key="SyncInterval" value="60" />
		<add key="SyncStartTime" value="08:00"/>
		<add key="TimePickerInterval" value="5"/>

		<add key="LastSchemaCheck" value="2008-10-01T00:00:00.0000000+00:00" />
		<!-- minutes; set to something like 5 for demo purposes, or multiples of 1440 (one day) for production purposes. -->
		<add key="SchemaCheckInterval" value="1440" />

		<add key="JobStatusDraft" value="0"/>
		<add key="JobStatusComplete" value="1"/>
		<add key="JobStatusSigned" value="2"/>
		<add key="JobStatusCompleteSynchronised" value="3"/>
		<add key="JobStatusSignedSynchronised" value="4"/>
		<add key="JobStatusHistory" value="5"/>
		<add key="JobStatusRequestStatusChange" value="6"/>
		<add key="JobStatusDeleted" value="7"/>

		<add key="JobStatusDraftColor" value="FF0000"/>
		<add key="JobStatusCompleteColor" value="FFD700"/>
		<add key="JobStatusSignedColor" value="7CFC00"/>
		<add key="JobStatusCompleteSynchronisedColor" value="DAA520"/>
		<add key="JobStatusSignedSynchronisedColor" value="008000"/>
		<add key="JobStatusHistoryColor" value="808080"/>
		<add key="JobStatusRequestStatusChangeColor" value="D2691E"/>
		<add key="JobStatusDeletedColor" value="FA8072"/>

		<add key="ForceLastSyncDateTime" value=""/>
	</appSettings>
</configuration>
