<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="activiser.WebService.Gateway.DataAccessLayer.Properties.Settings.activiserGatewayConnectionString"
            connectionString="Data Source=RCP-W2K3-DEV2;Initial Catalog=activiser;User ID=au"
            providerName="System.Data.SqlClient" />
        <add name="activiser.WebService.Gateway.Properties.Settings.activiserGatewayConnectionString"
            connectionString="Data Source=.;Initial Catalog=activiser;Integrated Security=True;Application Name=&quot;activiser Web Service&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>