<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="activiser.WebService.OutputGateway.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <activiser.WebService.OutputGateway.Properties.Settings>
            <setting name="SettingQuery" serializeAs="String">
                <value>SELECT SettingName, Value FROM gateway.XmlFolderGateway$Setting Settings WHERE SettingName=@SettingName</value>
            </setting>
            <setting name="SettingNameParameter" serializeAs="String">
                <value>@SettingName</value>
            </setting>
            <setting name="FileNameFormat" serializeAs="String">
                <value>{2}-{1}.xml</value>
            </setting>
        </activiser.WebService.OutputGateway.Properties.Settings>
    </applicationSettings>
</configuration>