<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="activiserEntities" connectionString="metadata=res://*/ActiviserSchemaModel.csdl|res://*/ActiviserSchemaModel.ssdl|res://*/ActiviserSchemaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RCP-W2K3-DEV2\SS2K8;Initial Catalog=kinetics;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="activiser.SchemaEditor.DataAccessLayer.Properties.Settings.activiserConnectionString"
      connectionString="Data Source=RCP-W2K3-DEV2\SS2K8;Initial Catalog=kinetics;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="activiser.SchemaEditor.DataAccessLayer.Properties.Settings.kineticsConnectionString"
      connectionString="Data Source=.\ss2k8;Initial Catalog=kinetics;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>