<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="activiser.Console.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<switches>
			<add name="TraceLevel" value="Verbose"/>
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="activiserConsole.Log">
				</add>
			</listeners>
		</trace>
	</system.diagnostics>

	<connectionStrings/>
	<userSettings>
		<activiser.Console.My.MySettings>
			<setting name="PollTimerInterval" serializeAs="String">
				<value>300</value>
			</setting>
			<setting name="NotificationEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AutoDomainLogon" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SyncOnTimeColour" serializeAs="String">
				<value>DarkBlue</value>
			</setting>
			<setting name="SyncMissedOneColour" serializeAs="String">
				<value>Green</value>
			</setting>
			<setting name="SyncMissedMoreColour" serializeAs="String">
				<value>Firebrick</value>
			</setting>
			<setting name="JobSheetTemplateFile" serializeAs="String">
				<value>JobSheetTemplate.htm</value>
			</setting>
			<setting name="JobAdminGridColumnWidths" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				</value>
			</setting>
			<setting name="JobsAllowEdits" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="RequestsAllowEdits" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="JobsReadOnly" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="RequestsReadOnly" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EnableDatabasePolling" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CustomLabelTemplates" serializeAs="String">
				<value>FormLabels.xml</value>
			</setting>
			<setting name="TerminologyEditorCustomLabelWidth" serializeAs="String">
				<value>200</value>
			</setting>
			<setting name="TerminologyEditorFieldWidth" serializeAs="String">
				<value>150</value>
			</setting>
			<setting name="TerminologyEditorDefaultLabelWidth" serializeAs="String">
				<value>200</value>
			</setting>
			<setting name="NotificationFadeInTime" serializeAs="String">
				<value>4000</value>
			</setting>
			<setting name="NotificationFadeOutTime" serializeAs="String">
				<value>4000</value>
			</setting>
			<setting name="JobsDisableJobNumberEditing" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="JobTreeUserNodes" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>AdminUnapproved|Admin Pending ({0})|Jobs not yet approved by administration|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 0 OR Flag = 1)|DarkRed</string>
						<string>AdminApproved|Admin Approved ({0})|Administrator approved jobs|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 2 or Flag = 3)|DarkGreen</string>
						<string>ManagementUnapproved|Management Pending ({0})|Jobs not yet approved by management|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag=0 OR Flag=2)|DarkRed</string>
						<string>ManagementApproved|Management Approved ({0})|Jobs management has approved|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 1 OR Flag = 3)|DarkGreen</string>
						<string>AllComplete|All Complete ({0})|All Completed Jobs|JobStatusID &gt; 0 AND JobStatusID &lt; 5|Green</string>
						<string>Incomplete|Incomplete ({0})|All incomplete jobs|JobStatusID = 0|Orange</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="JobTreeAdminNodes" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>New|New Jobs ({0})|Jobs not yet approved by administration|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 0 OR Flag = 1)|Red</string>
						<string>AdminUnApprovedMgmtApproved|New (Mgmt Approved) ({0})|Management approved jobs|(JobStatusID &gt; 0 AND JobStatusID &lt; 5) AND (Flag = 1)|Red</string>
						<string>Approved|Admin Approved ({0})|Administrator approved jobs|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 2 or Flag = 3)|Green</string>
						<string>ManagementApproved|Management Approved ({0})|Jobs management has approved|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 1 OR Flag = 3)|DarkRed</string>
						<string>ManagementUnapproved|Management Pending({0})|Jobs not yet approved by management|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag=0 OR Flag=2)|DarkGree</string>
						<string>AllComplete|All Complete ({0})|All Completed Jobs|JobStatusID &gt; 0 AND JobStatusID &lt; 5|DarkGray</string>
						<string>Incomplete|Incomplete ({0})|All incomplete jobs|JobStatusID = 0|Orange</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="JobTreeManagementNodes" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>ManagementUnapproved|New ({0})|Jobs not yet approved by management|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag=0 OR Flag=2)|Red</string>
						<string>ManagementUnApprovedAdminApproved|New (Admin Approved) ({0})|Administrator approved jobs|(JobStatusID &gt; 0 AND JobStatusID &lt; 5) AND (Flag = 2)|Red</string>
						<string>ManagementApproved|Approved ({0})|Jobs management has approved|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 1 OR Flag = 3)|Green</string>
						<string>AdminUnapproved|Admin Pending ({0})|Jobs not yet approved by administration|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 0 OR Flag = 1)|DarkRed</string>
						<string>AdminApproved|Admin Approved ({0})|Administrator approved jobs|JobStatusID &gt; 0 AND JobStatusID &lt; 5 AND (Flag = 2 or Flag = 3)|DarkGreen</string>
						<string>AllComplete|All Complete ({0})|All Completed Jobs|JobStatusID &gt; 0 AND JobStatusID &lt; 5|Black</string>
						<string>Incomplete|Incomplete ({0})|All incomplete jobs|JobStatusID = 0|DarkGray</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="WebServiceTimeout" serializeAs="String">
				<value>600</value>
			</setting>
			<setting name="WindowsUserName" serializeAs="String">
				<value/>
			</setting>
			<setting name="WindowsDomainName" serializeAs="String">
				<value/>
			</setting>
			<setting name="ActiviserUserName" serializeAs="String">
				<value/>
			</setting>
			<setting name="NotificationDisplayTime" serializeAs="String">
				<value>3000</value>
			</setting>
			<setting name="proxyServerUrl" serializeAs="String">
				<value/>
			</setting>
			<setting name="proxyServerAuthenticate" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="proxyServerCredentials" serializeAs="String">
				<value/>
			</setting>
			<setting name="JobEmailNullString" serializeAs="String">
				<value>Unknown</value>
			</setting>
			<setting name="LockRequestNumber" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="NotificationFormat" serializeAs="String">
				<value>{0} synchronised at {1}</value>
			</setting>
			<setting name="IgnoreServerCertificateErrors" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="IgnoreServerCertificateNameMismatch" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SyncOverlapBuffer" serializeAs="String">
				<value>60</value>
			</setting>
			<setting name="ForceWin2KLogon" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="UseSynchronousDataLoad" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="LockJobOnManagementApproval" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="LockJobOnAdminApproval" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="WordWrapJobDetails" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="WordWrapJobConsultantNotes" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="WordWrapJobRequipment" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="GpsViewerHeightAdjustment" serializeAs="String">
				<value>-48</value>
			</setting>
			<setting name="GpsViewerWidthAdjustment" serializeAs="String">
				<value>-36</value>
			</setting>
			<setting name="ShowConsultantStatusTree" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DeviceTrackingTemplateFile" serializeAs="String">
				<value>DeviceTrackingTemplate.htm</value>
			</setting>
			<setting name="DefaultLatitude" serializeAs="String">
				<value>-36.90234</value>
			</setting>
			<setting name="DefaultLongitude" serializeAs="String">
				<value>174.80791</value>
			</setting>
			<setting name="LanguageId" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="activiserServerUrl" serializeAs="String">
				<value>http://localhost:4200/activiser.asmx</value>
			</setting>
		</activiser.Console.My.MySettings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="..\Common Files"/>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
