<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="activiser.WebService.OutputGateway.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="activiser.WebService.OutputGateway.Properties.Settings.activiserConnectionString"
            connectionString="Data Source=.;Initial Catalog=activiser;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <activiser.WebService.OutputGateway.Properties.Settings>
            <setting name="CrmService" serializeAs="String">
                <value>http://rcp-w2k3-dev2:5555/MSCrmServices/2007/CrmService.asmx</value>
            </setting>
            <setting name="MetadataService" serializeAs="String">
                <value>http://localhost:5555/mscrmservices/2007/MetadataService.asmx</value>
            </setting>
        </activiser.WebService.OutputGateway.Properties.Settings>
    </applicationSettings>
</configuration>